body {
	overflow: hidden !important;
}

a {
	text-decoration: none;
	color: black;
}

#header {
	height: 40px;
	position: fixed;
	top: 0;
	-webkit-transform: translateZ(0);
	z-index: 999;
	background-color: red;
}
#header span,#header a{
	display: block;
	height: 40px;
	width: 33.3%;
	line-height: 40px;
	float: left;
	color: white;
	font-weight: bold;
}
#title{
	text-align: center;
}
#header #back {
	text-align: left;
}
#back img {
	margin: 8px 0 0 10px;
}

#menu{
	text-align: right;
}
#menu img {
	margin: 8px 15px 0 0;
	width: 24px;
	height: 24px;
}
/*#header:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}*/
#photo{
	height: 80px;
	width: 80px;
	margin:85px auto 0;
}
#photo img{
	width: 75px;
	height: 75px;
	border-radius: 75px;
	background-color:white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
table{
	margin-top:40px ;
	text-align: left;
	border: 1;
}
td{
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4;
	text-indent: 10px;
}
#birth{
	width: 60%;
	border-right:1px solid #E4E4E4;
}
#sex{
	width: 40%;
	text-align: center;
}
input{
	border: none;
	outline: none;
	background-color: white;
	height: 30px;
	width: 200px;
	line-height: 30px;
	font-size: 14px;
}
#birth input{
	width: 140px;
}
select,button{
	border: none;
	outline: none;
	background-color: #F2F2F2;
}
#photo button{
	position: absolute;
	top: 60px;
	right: 20px;
	background-color: white;
}
#submit{
	display: block;
	width: 50%;
	height: 40px;
	margin: 20px auto;
	background-color: white;
	border-radius: 20px;
	background-color: #FF6633;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
#addAddress{
	position: absolute;
	top: 40px;
	background-color:white ;
	text-align: center;
	display: none;
	
}
#addAddress div{
	border: 1px solid #F2F2F2;
	height: 30px;
	line-height: 30px;
}
#addAddress div p{
	height: 30px;
	line-height: 30px;
}
input[name=IDcardFront],input[name=IDcardBack]{
	display: none;
}
#IDcardFront span,#IDcardBack span{
	color: #BCBCBC;
}
